Allison Forte

DSC 540

Week 9 & 10 Assignment

August 7, 2022

# Data Wrangling with Python: Activity 11 (page 320)
Use the persons and pets tables

The id column in the persons table serves as the primary key for the table and as a foreign key for the pet table, which is linked via the owner_id column

The name of the SQLite DB is petsdb

1. Connect to petsdb and check whether the connection has been successful

In [76]:
# Import library and define connection

import sqlite3

connection = sqlite3.connect("petsdb")

In [77]:
# Function to determine successful connection

def opened(connection):
    try:
        connection.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection not open: {}".format(e))
        return False
print(opened(connection))

True

In [78]:
# Close connection and confirm function returns false

connection.close()
print(opened(connection))

Connection not open: Cannot operate on a closed database.
False

2. Find the different age groups in the persons database

In [79]:
# Reopen the connection then cycle through to determine age groups

connection = sqlite3.connect("petsdb")
c = connection.cursor()
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("There are {} people who are age {}".format(ppl, age))

There are 2 people who are age 5
There are 1 people who are age 6
There are 1 people who are age 7
There are 3 people who are age 8
There are 1 people who are age 9
There are 2 people who are age 11
There are 3 people who are age 12
There are 1 people who are age 13
There are 4 people who are age 14
There are 2 people who are age 16
There are 2 people who are age 17
There are 3 people who are age 18
There are 1 people who are age 19
There are 3 people who are age 22
There are 2 people who are age 23
There are 3 people who are age 24
There are 2 people who are age 25
There are 1 people who are age 27
There are 1 people who are age 30
There are 3 people who are age 31
There are 1 people who are age 32
There are 1 people who are age 33
There are 2 people who are age 34
There are 3 people who are age 35
There are 3 people who are age 36
There are 1 people who are age 37
There are 2 people who are age 39
There are 1 people who are age 40
There are 1 people who are age 42
There are 2 people who are age 44
There are 2 people who are age 48
There are 1 people who are age 49
There are 1 people who are age 50
There are 2 people who are age 51
There are 2 people who are age 52
There are 2 people who are age 53
There are 2 people who are age 54
There are 1 people who are age 58
There are 1 people who are age 59
There are 1 people who are age 60
There are 1 people who are age 61
There are 2 people who are age 62
There are 1 people who are age 63
There are 2 people who are age 65
There are 2 people who are age 66
There are 1 people who are age 67
There are 3 people who are age 68
There are 1 people who are age 69
There are 1 people who are age 70
There are 4 people who are age 71
There are 1 people who are age 72
There are 5 people who are age 73
There are 3 people who are age 74

3. Find the age group that has the maximum number of people

In [80]:
# Determine the count for each age group then sort in descending order so the first entry will be the most people

for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("The most people in any group ({}) are age {}".format(ppl, age))
    break  # To stop printing after the first age group (which will be the largest)

The most people in any group (5) are age 73

4. Find the people who do not have a last name

In [87]:
# Count number of people with no last name entered (is null)

result = c.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in result:
    print('There are', row, 'people with no recorded last name.')

There are (60,) people with no recorded last name.

5. Find out how many people have more than one pet

In [88]:
# Count the number of owners with more than 1 pet by first counting how many people have more than 1 pet

result = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in result:
    print(row, 'people have more than one pet.')

(43,) people have more than one pet.

6. Find out how many pets have received treatment

In [89]:
# Count pets when treatment variable is equal to 1 showing that the treatment has been done

result = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in result:
    print(row, 'pets have received treatment.')

(36,) pets have received treatment.

7. Find out how many pets have received treatment and the type of pet is known

In [90]:
# Similar to above but adding an additional clause with AND to eliminate pets where type is null

result = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for row in result:
    print(row, 'pets that we know the type of have reveived treatment.')

(16,) pets that we know the type of have reveived treatment.

8. Find out how many pets are for the city called east port

In [91]:
# Using the owner_id as the primary key, join the pets and persons tables together 
# Then count the pets when the owner lives in East Port

result = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in result:
    print(row, 'pets live with owners in the city of East Port.')

(49,) pets live with owners in the city of East Port.

9. Find out how many pets are from the city called east port and who received a treatment

In [92]:
# Similar to above, start by joining the 2 tables
# Then count pets where the city is East Port AND the treatment variable equals 1 indicating treatment was received

result = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city = 'east port' AND pets.treatment_done = 1")
for row in result:
    print(row, 'of the pets living with owners in East Port have reveived treatment.')

(11,) of the pets living with owners in East Port have reveived treatment.